@import "tailwindcss";
/* *,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

@theme {
  --color-primary: #eeeeee;
  --color-accent: #ffc639;
  --color-secondary: #393e46;
  --color-dark: #222831;
}
img {
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}

img:hover {
  scale: 102%;
}

/* Chrome, Edge, Safari */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #ffc639 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #ffc639);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 0.5s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn)
  }
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

*/